@import "~@/scss/modules/fonts.scss";

@import "~@/scss/modules/animation_Home.scss";
@import "~@/scss/modules/bubble_Home.scss";

* {
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
  background-color: #5e8aa7;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .payload {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.55);
    position: relative;
    z-index: 10;
  }

  .background {
    // background-image: url('~@/assets/background.png');
    filter: blur(8.3px);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: 0;
  }
}

.hubbie {
  margin: 0;
  color: #ffb300;
  font-family: 'Anton';
  font-size: 145px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  letter-spacing: 13px;
  margin-top: 20vh;
  margin-left: 14px;
  margin-bottom: 10vh;
}

.animateBox {
  width: 480px;
  height: 48px;
  position: relative;
  overflow: hidden;

  border-radius: 4px;
  background-color: #f4f4f4;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-bottom: 2.5vh;

  .codeBox {
    border: 0;
    width: 100%;
    height: 100%;
    outline: 0;
    text-align: center;
    font-family: Play;
    font-size: 24px;
    font-weight: bold;
    color: #616161;

    background-color: rgba(0,0,0,0);
  }
  .codeBox::placeholder {
    color: #969696;
  }

  .animateBox0 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
  }
  .animateBox1 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480px;
    top: 0;

    text-align: center;
    font-family: Play;
    font-size: 24px;
    font-weight: bold;
    color: #616161;
    line-height: 48px;
    background-color: rgba(0,0,0,0);

    z-index: 10;
  }
  .animateBox2 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480*2px;
    top: 0;

    background-color: #ffb300;

    z-index: 0;
  }
  .animateBox3 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480*3px;
    top: 0;

    text-align: center;
    font-family: Play;
    font-size: 24px;
    font-weight: bold;
    color: #F4F4F4;
    line-height: 48px;
    background-color: rgba(0,0,0,0);

    z-index: 10;
  }
  .animateBox4 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480*4px;
    top: 0;

    background-color: #2F3745;

    z-index: 0;
  }
  .animateBox5 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480*5px;
    top: 0;

    text-align: center;
    font-family: Play;
    font-size: 24px;
    font-weight: bold;
    color: #ffb300;
    line-height: 48px;
    background-color: rgba(0,0,0,0);

    z-index: 10;
  }
  .animateBox6 {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 480*6px;
    top: 0;
  }
}

.skillList {
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  width: 640px;

  .skill {
    font-family: Play;
    font-size: 24px;
    color: #d6d6d6;
    cursor: pointer;
  }
}

.enter {
  cursor: pointer;
  margin: 0 auto;
  margin-top: 5vh;
  font-size: 40px;
  color: #f4f4f4;
  font-family: 'Play';
  font-weight: 600;
  width: 150px;
  text-align: center;
}
